@(comments: List[Comment], commentForm: Form[Comment])

@import helper._

@main("Software Passions Play Greetings") {

<h1>Software Passion 2012</h1>

<img src="https://lh5.googleusercontent.com/-6aFlIzoBqqQ/TsvorIm_UTI/AAAAAAAADVg/_ks3-dOjJNU/s400/DSC_1159.JPG" border="5" height="200">

<h2>Say hello to the crowd: </h2>

    @form(routes.Application.addComment()) {
        @inputText(commentForm("greeting" ))
        @inputText(commentForm("author" ))
        <input type="submit" value="Submit">

    }

<ul>
    @for(comment <- comments) {
    <li>
        @comment.greeting  - says -
        @comment.author
    </li>
    }
</ul>

}